body {
  margin: 0;

  /* BEGIN (write your solution here) */

  font-size: 18px;
  color: #333;

  /* END */
  font-family: sans-serif;
  line-height: 1.5;
}

/* BEGIN (write your solution here) */

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 60px;
  text-align: center;
}

/* END */

h2 {
  /* BEGIN (write your solution here) */

  margin-top: 0;
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;

  /* END */

  border-bottom: 2px solid #e3e3e3;
}

main {
  width: 900px;
  margin: auto;
  position: relative;
}

/* BEGIN (write your solution here) */
section {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

section h2 {
  padding: 0;
  text-align: left;
  border: none;
}

li {
  margin-bottom: 10px;
}


.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.intro-text {
  flex-grow: 1;
  order: 0;
}

.photo {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  order: 1;
}